/* COLOR PALETTES: #345DA7, #3B8AC4, #4BB4DE, #EFDBCB */
h1 {
  font-weight: bold;
  font-size: 30px;
  color: #efdbcb;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

p {
  margin: 10px;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #efdbcb;
  color: #3b8ac4;
}

.left-bar {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: #345da7;
}

.tab {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

#edit-tab {
  display: flex;
}

#edit-tab > #func-name > #func-name-field {
  padding: 5px;
  width: 200px;
  font-size: 18px;
  border: 1px solid #3b8ac4;
  background-color: #efdbcb;
  color: #3b8ac4;
  outline: none;
  border-radius: 5px;
}

#edit-tab > #monaco-container {
  padding: 10px;
  width: 70%;
  height: 70%;
}

#edit-tab > #submit-btn {
  margin: 20px;
  padding: 10px;
}

#edit-tab > #submit-btn:hover {
  background-color: #4bb4de;
  color: #efdbcb;
}

#display-res-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  background-color: #4bb4de;
  color: #efdbcb;
  z-index: 100;
  border-radius: 5px;
}

#add-lib-tab > #lib-name > #add-lib-input {
  padding: 5px;
  width: 200px;
  font-size: 18px;
  border: 1px solid #3b8ac4;
  background-color: #efdbcb;
  color: #3b8ac4;
  outline: none;
  border-radius: 5px;
}

#add-lib-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #3b8ac4;
  color: #efdbcb;
  cursor: pointer;
  border-radius: 5px;
}

button[active] {
  background-color: #4bb4de;
  color: #efdbcb;
}


.funcs-table {
  width: 100%;
  margin: 10px;
  border: #345da7 2px solid;
}

.funcs-table td,
.funcs-table th {
  padding: 2px;
  margin: 2px;
  border: #345da7 1px solid;
}

/* BEGIN: Add dark mode styles */
.monaco-editor.vs-dark .monaco-editor-background,
.monaco-editor.vs-dark .monaco-editor {
  background-color: #1e1e1e;
}
/* END: Add dark mode styles */
