/* COLOR PALETTES: #345DA7, #3B8AC4, #4BB4DE, #EFDBCB */
h1 {
  font-weight: bold;
  font-size: 30px;
  color:#efdbcb;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #efdbcb;
  color: #345da7;
}

.tab,
#edit-tab,
#monitor-tab {
  height: 100%;
  width: 100%;
}

#monaco-container {
  padding: 10px;
  width: 70%;
  height: 70%;
}

.left-bar {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: #345da7;
}

.left-bar > button {
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #3b8ac4;
  color: #efdbcb;
  cursor: pointer;
}

.left-bar > button[active] {
  background-color: #4bb4de;
  color: #efdbcb;
}

#edit-tab {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  height: 100%;
  width: 100%;
}

#monitor-tab {
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.funcs-table {
  width: 100%;
  margin: 10px;
  border: #345da7 2px solid;
}

.funcs-table td,
.funcs-table th {
  padding: 2px;
  margin: 2px;
  border: #345da7 1px solid;
}

/* BEGIN: Add dark mode styles */
.monaco-editor.vs-dark .monaco-editor-background,
.monaco-editor.vs-dark .monaco-editor {
  background-color: #1e1e1e;
}
/* END: Add dark mode styles */
